body {
  background-image: url("http://thepatternlibrary.com/img/an.jpg");
  color: white;
  font-family: 'Work Sans', sans-serif;
}

.weather-info {
  background-color: #03051c;
  padding: 50px;
  margin-top: 26vh;
}

h1 {
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 40px;
}

h2 {
  font-weight: 100;
  font-size: 75px;
  letter-spacing: 2px;
}

#unit {
  border-radius: 0px;
  background-color: white;
  color: #03051c;
  font-weight: 300;
  border: solid white 1px;
}

#unit:hover {
  background-color: #03051c;
  color: white;
}

#unit:active {
  background-color: #0B7E9D;
  color: #white;
  font-weight: bolder;
}
#unit:focus {
  outline: none;
}
.btn:focus, .btn:active, .btn:visited {
  outline: none;
}
